.cm-container {
    position: absolute;
    top: 300vh;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.cm-download-resume {
    height: 15%;
    width: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cm-body-container {
    height: 85%;
}

.cm-mw-container {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    overflow: hidden;
}

.cm-mw-icon-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;
    color: white;
}

.cm-mw-icon {
    width: 70px;
    height: 60px;
    padding-bottom: 7px;
}

.cm-mw-text {
    font-size: 2rem;
    text-align: center;
    color: white;
    height: 45%;
}

.cm-mw-plus {
    font-size: 3rem;
    opacity: 0.7;
}


/* phones */
@media only screen and (max-width: 375px) {
    .cm-download-resume {
        width: 38%;
    }

    .MuiFormControl-root {
        width: 100%;
    }
}