body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* background */
.bg1 {
  width: 100%;
  height: 400vh;
  background-image: linear-gradient(225deg, #1E0729 0%, #000000 100%);
  overflow-y: hidden;
}

.bg2 {
  width: 100%;
  height: 100%;
  opacity: 0.22;
  background-image: linear-gradient(135deg, #0500FF 0%, #000000 100%);
  overflow-y: hidden;
}

.hidden {
  visibility: hidden;
}