body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* import fonts */
@font-face {
  font-family: 'SF-Pro-Display-Light';
  src: local('SF-Pro-Display-Light'), url(./fonts/San-Francisco-Pro-Fonts/SF-Pro-Display-Light.otf) format('opentype');
}

@font-face {
  font-family: 'SF-Pro-Display-Thin';
  src: local('SF-Pro-Display-Thin'), url(./fonts/San-Francisco-Pro-Fonts/SF-Pro-Display-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'SF-Pro-Display-ThinItalic';
  src: local('SF-Pro-Display-ThinItalic'), url(./fonts/San-Francisco-Pro-Fonts/SF-Pro-Display-ThinItalic.otf) format('opentype');
}

@font-face {
  font-family: 'SF-Pro-Display-Semibold';
  src: local('SF-Pro-Display-Semibold'), url(./fonts/San-Francisco-Pro-Fonts/SF-Pro-Display-Semibold.otf) format('opentype');
}

.sf-light {
    font-family: SF-Pro-Display-Light;
}

.sf-thin {
    font-family: SF-Pro-Display-Thin;
}

.sf-thin-italic {
    font-family: SF-Pro-Display-ThinItalic;
}

.sf-semibold {
    font-family: SF-Pro-Display-Semibold;
}

/* background */
.bg1 {
  width: 100%;
  height: 400vh;
  background-image: linear-gradient(225deg, #1E0729 0%, #000000 100%);
  overflow-y: hidden;
}

.bg2 {
  width: 100%;
  height: 400vh;
  opacity: 0.22;
  background-image: linear-gradient(135deg, #0500FF 0%, #000000 100%);
  overflow-y: hidden;
}

.hidden {
  visibility: hidden;
}